<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright"><a href="https://github.com/lianweiqin/vno">Vno</a> theme by lianweiqin.</span>
	<span class="footer__copyright">京ICP备16009267号</span>
</footer>